footer{
    width: 100%;
    height: 145px;
    /*top: 760px;*/
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    background-color: #48435C;
    border-radius: 20px;
    margin-top: 10px;
}
.foot{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 2em;
    padding-bottom: 1em;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
.copyright{
    display: grid;
    grid-template-columns: 1fr 510px 1fr;
    text-align: center;
    color: white;
}

.copya{
    color: white;
    text-decoration: none;
}

.copya:visited{
    color: white;
    text-decoration: none;
}

#item1{
    grid-column-start: 2;
    grid-column-end: 3;
}

@media (max-width: 1020px){
    .foot{
        padding-bottom: 0;
    }
}

.telFooter{
    text-decoration: none;
    color: white;
}

.telFooter:visited{
    text-decoration: none;
    color: white;
}

.telFooter:hover{
    text-decoration: underline;
    color: white;
}

.telFooter:active{
    text-decoration: none;
    color: white;
}