nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #48435c;
  border-radius: 20px;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

.burger-menu {
  display: block;
  cursor: pointer;
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 50%;
  background-color: #48435c;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.menu li {
  margin: 10px 0;
  list-style: none;
  background-color: #48435c;
}

.menu li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.show-menu {
  display: flex;
}

#logoNav{
  max-width: 25%;
  height: auto;
}

