body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: auto;
    height: 100px;
}

.main{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.actu{
    background-color: #D9D9D9;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}
#img_analyse{
    width: 500px;
    height: 330px;
}

#img_analyse:hover{
    width: 1000px;
    height: 660px;
}

#who_we_are{
    width: 100%;
    height: 100%;
    color: red;
    text-align: center;
}

.word {
    color: white;
    transition: color 0.5s ease;
}

.word.show {
    color: black;
  }

.secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    background-color: #515C3A;
    border-radius: 20px;
    width: 30%;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    text-align: center;
}

#img_competence{
    width: 800px;
    height: 450px;
}

#img_hover{
    width: auto;
}

#LabHidden{
    display: none;
}

@keyframes slide-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  