body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: auto;
    height: 100px;
}

.squares{
    width: 20px;
    height: 20px;
}

#entry_text{
    text-align: center;
}

.highlight {
    background-color: yellow;
}

.publi{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 24px;
}
