body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: auto;
    height: 100px;
}

.squares{
    width: 20px;
    height: 20px;
}

#entry_text{
    text-align: center;
}

#allButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.button{
    background-color: #515C3A;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.publi{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 24px;
}

input {
    margin: 0.4rem;
}