body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: auto;
    height: 100px;
}

.main{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.actu{
    background-color: #D9D9D9;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}
#img_analyse{
    width: 500px;
    height: 330px;
}

#who_we_are{
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    z-index: 0;
}

.word {
    color: white;
    transition: color 0.5s ease;
}

.word.show {
    color: black;
  }

.secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.btn{
    background-color: #515C3A;
    border-radius: 20px;
    width: 30%;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    text-align: center;
}

#img_competence{
    width: 800px;
    height: 450px;
    transition: width 0.5s, height 0.5s;
}

#img_competence:hover{
    width: 1000px;
    height: 550px;
}

#LabHidden{
    display: none;
}
/* Under 1000px */

@media screen and (max-width: 1000px) {
    #img_competence{
        width: 500px;
        height: 300px;
    }
    #img_competence:hover{
        width: 600px;
        height: 350px;
    }
}

@media screen and (max-width: 550px) {
    #img_analyse{
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 850px) {
    #who_we_are{
        font-size: 14px;
    }
}

@media screen and (min-width: 1600px){
    .main{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}